*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 2px solid black;
}

.logo {
    display: flex;
    align-items: center;
}

.usuario {
    flex-grow: 1;
    text-align: center;
}

.usuario li{
    display: inline-block;
    text-align: center;
    margin: 2px;
    border-left: 1px solid black;
    padding: 5px;
}

nav {
    width: 100%;
    align-items: center;
}

.menu {
    display: flex;
    text-align: center;
    flex-grow: 1;
    align-items: right;
    justify-content: space-around;
}

.menu li {
    display: inline-block;
    text-align: center;
    margin: 2px;
    border-left: 1px solid black;
    padding: 5px;
}

main {
    height: 68vh;
}

footer {
    height: 8vh;
    width: 100%;
    background-color: grey;
    text-align: center;

}