*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

header {
    height: 200px;
    padding: 12px;

}

.usuario a:hover {
    color: #8F8F8F;
}

.menu a:hover{
   color: #8F8F8F;
}

.logo {
    position: absolute;
    top: 0px;
    left: 10px;
}

.logo img {
    width: 13%;
}

.usuario {
    position: absolute;
    top: 25px;
    right: 25px;
}

.usuario li{
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.usuario li a {
    text-decoration: none;
    color: black;
} 

nav {
    width: 100%;
    align-items: center;
}

.menu {
    position: absolute;
    top: 100px;
    left: 200px;
    display: flex;
    justify-content: center;
}

.menu li {
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 15px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

#busqueda {
    position: absolute;
    top: 140px;
    right: 25px;
    border-radius: 5px;
}


section {
    width: 90%;
    height: 800px;
    background-color: transparent;
    margin: auto;
    display: flex;

    justify-content: center;
}

article {
    margin-top: 10px;
}

article img {
    width: 100%;
}


footer {
    height: 30vh;
    width: 100%;
    background-color: grey;
    text-align: center;
    align-items: center;

}