<div class="related_products_container">
    <a href="/product/detail/<%- product.id %>" ><img class="product_img" src="<%= product.img %>" alt="imagen"></a>
    <div class="related_product_details">
        <h3 class="item_name"><%- product.name %></h3>
        <p>$<%- product.price %></p>
        <button class="catalogue_add_cart_bttn">Agregar al carrito</button>
    </div> 
</div>
  
