<footer>
    <section>
        <div class="logoFooter">
            <img src="/images/Logo-fontWhite.png" alt="logo">
        </div>


        <p>Desarrollado por vapear.org Argentina</p>
    </section>
</footer>