<header>


    <div class="logo">
      <h1><a href="/"><img src="/images/Logo.PNG" alt=""></a></h1>
    </div>


    <!-- menu de usuario para laptop  -->

    <div class="usuario">
      <ul>
        <li><a href="/user/login">INICIAR SESIÓN</a></li>
        <li><a href="#">FAVORITOS</a></li>
        <li><a href="/product/carrito">CARRITO</a></li>
      </ul>      
    </div>


    <!-- menu para mobile -->

    <div class="menuMobile">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;"><i class="fas fa-bars"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="/">Inicio</a>
          <a class="dropdown-item" href="/product/catalogo">Vaporizadores</a>
          <a class="dropdown-item" href="/product/catalogo">Atomizadores</a>
          <a class="dropdown-item" href="/product/catalogo">E-Liquids</a>
          <a class="dropdown-item" href="/product/catalogo">Resistencias</a>
          <a class="dropdown-item" href="#">Contacto</a>
        </div>
      </div>
    </div>
    

    <!-- menu para laptop -->

    <div class="menu">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vaporizadores</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="/product/catalogo">Smok</a>
              <a class="dropdown-item" href="/product/catalogo">Juul</a>
              <a class="dropdown-item" href="/product/catalogo">Vaporesso</a>
              <a class="dropdown-item" href="/product/catalogo">Innokin</a>
              <a class="dropdown-item" href="/product/catalogo">Kanger</a>
            </div>
          </div>
        </li>
        
        <li><a href="/product/catalogo">Atomizadores</a></li>
        <li><a href="/product/catalogo">E-liquids</a></li>
        <li><a href="/product/catalogo">Resistencias</a></li>
        <li><a href="/product/catalogo">Contacto</a></li>
      </ul>
    </div>
    
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button> -->
    </form>  
    
        <!-- menu de usuario para mobile -->
        <div class="usuarioMobile">

          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 0px;"> <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
            </svg> </i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="/user/login">INICIAR SESIÓN</a>
              <a class="dropdown-item" href="/product/catalogo">FAVORITOS</a>
              <a class="dropdown-item" href="/product/carrito">CARRITO</a>
            </div>
          </div>
        </div>



</header>