    <article class="masVendidosArticle">
        <a href="/product/detail/<%- MV.product_id%>"><img class="product_img" src="<%- MV.Product.img %>" alt=""></a>
        <div class="masVendidos_details">
            <h3><%- MV.Product.name %></h3>
            <p>$<%- MV.Product.price %></p>
        </div>        
    </article>
