<article class="catalogoArticle">
    <a href="/product/detail/<%- product.id %>" class="product_image_container"><img class="product_img"  src= <%- product.img %> alt="imagen">
    </a>
    <div class="item_details">
        <h3 class="item_name"><%- product.name %></h3>
        <p>$<%- product.price %></p>
    </div>
</article>

