<article class="catalogoArticle">
    <a href="/product/detail/<%- product.id %>" ><img class="product_img" src="/images/default.jpg" alt="imagen"></a>
    <div class="item_details">
        <h3 class="item_name"><%- product.name %></h3>
        <p>$<%- product.price %></p>
    </div>
</article>

