    <div class="search_list_Container">
        <a href="/product/detail/<%- product.id %>" ><img class="product_img"  src="<%= product.img %>" alt="imagen"></a>
        <div class="list_details">
                <h3 class="search_product_detail"><%- product.name %></h3>
                <h3 class="search_product_detail"><%- product.model_1 %></h3>
                <button class="search_add_cart_bttn">Agregar al carrito</button>
        </div>
    </div> 
