<div class="user_details">
    <h3 class="item_user">Nombre: <%- user.first_name %></h3>
    <h3 class="item_user">Apellido: <%- user.last_name %></h3>
    <h3 class="item_user">E-mail: <%- user.email %></h3>
    <h3 class="item_user">Categoria: <%- user.category %></h3>
</div>
