* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;

    /* Background color */
    background: rgba(240,246,249,1);
    background: -moz-linear-gradient(top, rgba(240,246,249,1) 0%, rgba(240,246,249,1) 13%, rgba(154,188,213,1) 76%, rgba(154,188,213,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,246,249,1)), color-stop(13%, rgba(240,246,249,1)), color-stop(76%, rgba(154,188,213,1)), color-stop(100%, rgba(154,188,213,1)));
    background: -webkit-linear-gradient(top, rgba(240,246,249,1) 0%, rgba(240,246,249,1) 13%, rgba(154,188,213,1) 76%, rgba(154,188,213,1) 100%);
    background: -o-linear-gradient(top, rgba(240,246,249,1) 0%, rgba(240,246,249,1) 13%, rgba(154,188,213,1) 76%, rgba(154,188,213,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,246,249,1) 0%, rgba(240,246,249,1) 13%, rgba(154,188,213,1) 76%, rgba(154,188,213,1) 100%);
    background: linear-gradient(to bottom, rgba(240,246,249,1) 0%, rgba(240,246,249,1) 13%, rgba(154,188,213,1) 76%, rgba(154,188,213,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f6f9', endColorstr='#9abcd5', GradientType=0 );

    font-family: 'Roboto Slab', serif;
}

header {
    height: auto;
}

h1 {
    text-align: center;
}

.logo {
    text-align: center;
    width: 100vw;
}

.logo img {
    width: 50vw;
}

.mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Menu de usuario */

.usuario a:hover {
    color: #8F8F8F;
}

.usuarioMobile {
    display: inline-block;
    margin: 10px;
}

.usuario {
    display: none;
    margin: 5px;
    font-size: 12px;
}

.usuario ul {
    margin-left: 15%;
}

.usuario ul li {
    width: 75%;
    list-style: none;
    text-align: center;
    color: black;
}

.usuario li a {
    text-decoration: none;
    color: black;
}

#userMobile {
   padding: 0em;
}

/* Fin menu de usuario */

/* Menu */

.menu a:hover {
    color: #8F8F8F;
}


.menuMobile {
    display: inline-block;
    justify-content: space-around;
    margin: 10px;
}

/* Fin menu */


/*Barra de busqueda*/

.form-inline {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    border-radius: .25rem;
}

.busquedaLaptop {
    display: none;
}


/*Fin Barra de busqueda*/


/*Home*/

.mainSection {
    width: 90%;
    background-color: transparent;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.dosColumnas {
    display: flex;
    flex-wrap: wrap;
    background-color: #F5B041 ;
    border-radius: 5px;
    border-width: 632px;
    width: 80%;
    padding: 5px;
    margin: 5px;
    justify-content: space-around;
}

.textoDosColumnas {
    display: block;
    width: 60%;
    justify-content: flex-start;
    position: relative;
    top: 50px;
}

#verMasButton-izquierda {
    display: none;
}

#verMasButton-derecha {
    display: none;
}

.tresColumnas {
    display: block;
    /* background-color: #5DADE2; */
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 5px;
    text-align: center;
}

#tresColumnasIzquierda {
    background: -prefix-linear-gradient(top, #F5B041, white 80%, #4EE690);
    background: linear-gradient(to bottom, #F5B041, white 80%, #4EE690);
}

#tresColumnasCentro {
    background: -prefix-linear-gradient(top, #4EE690, white 80%, #8AF0E7);
    background: linear-gradient(to bottom, #4EE690, white 80%, #8AF0E7);
}

#tresColumnasDerecha {
    background: -prefix-linear-gradient(top, #8AF0E7, white 80%, rgba(154,188,213,1));
    background: linear-gradient(to bottom, #8AF0E7, white 80%, rgba(154,188,213,1));
}

.tresColumnas img{
    width: 50%;
    margin-top: 10px;
}

.textoTresColumnas {
    display: block;
    justify-content: center;
    width: 100%;
    margin: 8px;
}

article img {
    width: 100%;
}


.infoEnvios {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100% auto;
    margin: 0;
    text-align: center;
    justify-content: center;

}

.infoEnviosArt {
    width: 40%;
    margin: 5px;
    text-align: center;
}

.infoH5 {
    display: none;        
}

/* Más vendidos */
.masVendidos {
    width: 90%;
    background-color: transparent;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.masVendidosArticle {
    display: flex;
    flex-wrap: wrap;
    background-color: #F5B041 ;
    border-radius: 5px;
    border-width: 632px;
    width: 80%;
    padding: 5px;
    margin: 5px;
    justify-content: space-around;
}
/* Más vendidos fin */


/*Home fin*/

/* List */
.listContainer img {
    width: 100%;
}

.listMain {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.mainContainer {
    width: 30%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listContainer {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 100%;
}


/* List fin */




/* Estilos para productDetail y productCart */


/* Estilos para productCart */

.cart {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PCPurchase {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.purchaseArticle {
    margin: 5px;
}

.purchaseArticle .price {
    width: 98%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price .price_text {
    font-size: 17px;
}

.PCtitle {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.PCarticle {
    width: 60%;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.shadow {
    width: 100%;
}

.PCarticle img {
    border-radius: 4px;
}


.PCimg {
    width: 100%;
}

.PCdescription {
    justify-content: flex-start;
}

.PCProduct {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.PCSelection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.PCSelection .form-control {
    width: 20%;
}


.PCproductDetailButton {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 12px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: -40px;
    margin-top: 10px;
}


/* Estilos para productDetail*/


/* product detail 2 */

.breadcrumb_detail {
    margin-top: 20px;
}

.breadcrumb {
    background-color: transparent;
    display: flex;
    justify-content: center;
    text-decoration: none;
}


.PDmain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.PDLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vw;
    justify-content: center;
}

.secondaryPhoto {
    margin: 5px;
}

.PDCenter {
    display: block;
    width: 60vw;
    justify-content: center;
}

.primaryPhoto {
    margin: 5px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    margin-bottom: 50px;
}


.vapeInfo {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}
.vapeSelection{
    display: inline-block;
    flex-direction: row;
}

.displayFlex {
    display: flex;
}

.vapeSelection #dropdownMenuButton {
    margin-right: 10px;
}

.vapeDescription {
    display: none;
}



/*Formularios login-register*/
.form {
    height: 50vh;
    margin-top: 2%;
    margin-bottom: 20%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.form form {
    margin-right: 30%;
    margin-left: 30%;
}

.form input {
    width: 100%;
    margin: 10px;
}

.form p a {
    color: #495057;
}


/*Catalogo*/

.catalogo {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px auto;

}

.catalogoArticle {
    background-color: transparent;
    width: 100%;
    padding: 3px;
    margin: 2px;
    border-radius: 5px;
}

.catalogueFilters {
    margin: 30px 0px 10px 20px;
}

.product_img {
    width: 100% auto;
}

.item_details {
    margin: 20px 0px 20px 10px;
    background-color: transparent;
    font-size: 13px;
}

.item_details .item_name {
    font-size: 13px;
}

.catalogoArticle img {
    text-align: center;
    width: 100%;
}

.item_button {
    text-decoration: none;
    text-align: right;
}


/*Catalogo fin*/


/*Footer*/
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
    

footer section{
     width: 100%;
     display: flex;
     flex-direction: column;
}

.logoFooter img{
    width: 15%;    
}


footer p {
    padding-top: 10px;
}

/*Footer fin*/


@media (min-width: 1132px) {

    header {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }

    .mainSection {
        flex-direction: row;
    }

    .dosColumnas {
        width: 49%;
        justify-content: center;
    }

    .mainText {
        width: 100%;
        margin: 50px 0px 50px;
    }

    .mainText .masVendidoSombreado {
        color: rgb(203, 221, 235);
        text-align: center;
    }

    #verMasButton-izquierda {
        display: flex;   
    }

    #verMasButton-derecha {
        display: flex;
    }

    .tresColumnas {
        width: 32.35%;
        justify-content: center;
        background: -prefix-linear-gradient(top, #F5B041, white 80%, rgba(154,188,213,1)) !important;
        background: linear-gradient(to bottom, #F5B041, white 80%, rgba(154,188,213,1)) !important;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .masVendidos {
        flex-direction: row;
    }

    .masVendidosArticle {
        width: 18%;
        justify-content: center;
        background: -prefix-linear-gradient(top, #F5B041, white 80%, rgba(154,188,213,1)) !important;
        background: linear-gradient(to bottom, #F5B041, white 80%, rgba(154,188,213,1)) !important;
    }
    .menuMobile {
        display: none;
    }

    .laptop {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .logo {
        width: 15%;
    }

    .logo img {
        width: 100%;
    }

    .usuarioMobile {
        display: none;
    }

    .usuario {
        width: 20%;
        display: flex;
        align-items: center;
    }

    .usuario ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 0em;
    }

    .usuario ul li {
        width: 33%;
        display: inline-block;
        text-align: center;
    }

    .usuario li a {
        text-decoration: none;
        color: black;
    }
    
    /*Barra de busqueda*/
    .form-inline {
        display: none;
    }



    .busquedaLaptop {
        width: 100%;
        display: flex;
        justify-content: flex-end;       
    }

    .busquedaLaptop form {
        position: relative;
        bottom: 20px;
        right: 6%;
    }
    .form-text {
        display: block;
        margin-top: 0em;
    }
    .navbar-form .form-control[type=text] {
        background: transparent;
        display:inline-block;
        transition: all .5s;
    }

    .navbar-form .form-control[type=text]:focus {
        background-color: #fff;
        border-color: #729fcf;
        color:#333;
        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
    }

    .navbar-form input.form-control[type=text] {
        width: 160px;
    }
    .navbar-form input.form-control[type=text]:focus { 
        width: 350px; 
    }

    .menu {
        width: 60%;
        display: flex;
        align-items: center;

    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0em;
    }

    .menu li {
        display: inline-block;
        text-align: center;
    }

    .menu li a {
    text-decoration: none;
    color: black;
    }

    .infoEnviosArt {
        width: 23%;
        margin: 5px;
        text-align: center;
    }

    .infoH5 {
        display: inline; 
        color: rgb(203, 221, 235);       
    }

    .catalogo {
        width: 90%;
    }

    .catalogoArticle {
        width: 24.6%;
    }

    .product_img {
        width: 100% auto;
    }
}

/*@media (max-width: 1024) {
    header {
        margin-bottom: auto;
    }
}*/

@media (max-width: 1132px) {
    .menu {
        display: none !important;
    }
}

/*@media para productCart*/

@media (min-width: 1132px) {

    /* Product detail 2 */

    .PDmain {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 100px;
    }
    
    .PDLeft {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 20vw;
        justify-content: center;
    }
    
    .secondaryPhoto {
        margin: 5px;
    }
    
    .PDCenter {
        display: block;
        width: 40vw;
        justify-content: center;
    }
    
    .primaryPhoto {
        margin: 5px;
    }
    
    .productInfo {
        display: flex;
        flex-direction: column;
        width: 30vw;
        margin-bottom: 0;
        justify-content: space-between;
    }

    .vapeInfo {
        margin-top: 1rem;
    }

    .vapeSelection {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .vapeDescription {
        display: flex;
        flex-direction: column;
    }

    /* .vapeSelection p, h4 {
        display: flex;
    }
     */
    /* Fin product detail 2 */

    .cart {
        width: 60%;
    }

    .PCarticle {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    .discount_code {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .code {
        display: flex;
        justify-content: flex-start;
    }

    .code .form-control {
        width: 70%;
        margin-right: 15px;
    }

    .PCPurchase {
        width: 40%;
        margin-bottom: 44px;
    }

    .purchaseArticle {
        margin-left: 10px;
        margin-right: 10px;
    }


    .PCimg {
        width: 30%;
    }

    .PCProduct {
        width: 62%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
    }

    .PCarticle #delete {
        width: 7%;
        margin: 0px auto;
        text-decoration: none;
        color: black;
    }

    .PCSelection {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .PCSelection .form-control {
        width: 20%;
    }

}

/*@media para productDetail*/
