* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #ebebeb;
    font-family: serif;
}

header {
    height: auto;
    padding: 24px;
}

h1 {
    text-align: center;
}

.usuario a:hover {
    color: #8F8F8F;
}

.menu a:hover {
    color: #8F8F8F;
}

.logo {
    text-align: center;
    width: 100vw;
}

.logo img {
    width: 50vw;
}

.usuarioMobile {
    display: inline-block;
    margin: 10px;
}

.usuario {
    display: none;
    margin: 5px;
    font-size: 12px;
}

.usuario ul {
    margin-left: 15%;
}

.usuario ul li {
    width: 75%;
    list-style: none;
    text-align: center;
    color: black;
}


/*.usuario li {
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
    margin: 10px;
}*/

.usuario li a {
    text-decoration: none;
    color: black;
}

.menuMobile {
    display: inline-block;
    justify-content: space-around;
    margin: 10px;
}

nav {
    width: 100%;
    align-items: center;
}



/*Barra de busqueda*/

.form-inline {
    /*position: absolute;
    top: 120px;
    right: 35px;*/
    display: inline-block;
    /*width: 100%;*/
    /*height: calc(1.5em + .75rem + 2px);*/
    /*padding: .375rem .75rem;*/
    font-size: 1rem;
    font-weight: 400;
    /*line-height: 1.5;*/
    color: #495057;
    /*background-clip: padding-box;*/
    border-radius: .25rem;
}


/*Barra de busqueda*/


/*Home*/

section {
    width: 90%;
    background-color: transparent;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*diapositiva de superposicion de imagen*/

.container {
    position: relative;
    width: 100%;
}

.img-fluid {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/*fin diapositiva de superposicion de imagen*/

.dosColumnas {
    display: flex;
    flex-wrap: wrap;
    background-color: #F5B041 ;
    border-radius: 5px;
    border-width: 632px;
    width: 80%;
    padding: 5px;
    margin: 5px;
    justify-content: space-around;
}

.textoDosColumnas {
    display: block;
    width: 60%;
    justify-content: flex-start;
    position: relative;
    top: 50px;
}

#verMasButton-izquierda {
    display: none;
}

#verMasButton-derecha {
    display: none;
}

.tresColumnas {
    display: block;
    background-color: #5DADE2;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.tresColumnas img{
    width: 50%;
    margin-top: 10px;
}

.textoTresColumnas {
    display: block;
    justify-content: center;
    width: 100%;
    margin: 8px;
}

article img {
    width: 100%;
}


/*Home fin*/




/* Estilos para productDetail y productCart */


/* Estilos para productCart */

.PCmain {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -8px;
}

.PCtitle {
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: -25px;
}

.PCtitle h3 {
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.PCarticle {
    text-align: center;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 8px;
}

#PCarticle2 {
    margin-top: -9px;
    margin-bottom: -9px;
}

.PCarticle img {
    width: 300px;
    height: 340px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.PCarticleDescription {
    width: 300px;
    margin-left: 3%;
}

.PCdescription {
    text-align: left;
    margin-left: 1px;
    margin-top: -5px;
    margin-right: 80px;
    margin-bottom: -8px;
}

.PCprice {
    color: green;
}

.PCquantityDecrese,
.PCquantityNumber,
.PCquantityIncrease {
    width: 35px;
    font-size: 20px;
    background-color: rgb(151, 148, 148);
    border: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
}

.PCquantityDecrese {
    border-radius: 10px 0px 0px 10px;
    margin-right: -3px;
    color: black;
}

.PCquantityNumber {
    color: black;
}

.PCquantityIncrease {
    border-radius: 0px 10px 10px 0px;
    margin-left: -4px;
    color: black;
}

.PCproductDetailButton {
    width: 300px;
    text-align: center;
    align-items: center;
    padding: 12px;
    background-color: black;
    color: gray;
    border: 0px;
    border-radius: -40px;
    margin-top: 10px;
}

.PCbuttonPosition {
    margin-top: -40px;
    margin-bottom: 48px;
    order: 1;
    text-align: center;
    align-items: center;
}

.PCbuttonPrice p {
    display: inline;
    margin-right: 120px;
}


/* Estilos para productDetail*/

.PDcolumn3 {
    width: 425px;
    text-align: left;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    margin: -6px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.PDarticle {
    text-align: center;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgrey;
    padding: 20px;
    border-radius: 8px;
}

.PDmain {
    width: 489px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -8px;
}

.PDsection {
    width: 339px;
    text-align: center;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
}






/*Footer*/
footer {
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
    

footer section{
     width: 100%;
     display: flex;
     flex-direction: column;
}

.logoFooter img{
    width: 15%;    
}


footer p {
    padding-top: 10px;
}

/*Footer fin*/

/*Formularios login-register*/
.form {
    height: 50vh;
    margin-top: 2%;
    margin-bottom: 20%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.form form {
    margin-right: 30%;
    margin-left: 30%;
}

.form input {
    width: 100%;
    margin: 10px;
}

.form p a {
    color: #495057;
}


/*Catalogo*/

.catalogo {
    width: 80%;
    display: flex;
    flex-wrap: wrap;

}

.catalogo article {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 3px;
    margin: 2px;
    border-radius: 5px;
}

.catalogo article img {
    text-align: center;
    width: 100%;
}


/*Catalogo fin*/

@media (min-width: 1132px) {

    header {
        height: 300px;
        padding: 12px;        
    }

    section {
        flex-direction: row;
    }
    .dosColumnas {
        width: 49%;
        justify-content: center;
    }

    #verMasButton-izquierda {
        display: flex;   
    }

    #verMasButton-derecha {
        display: flex;
    }

    .tresColumnas {
        width: 32.35%;
        height: 370px;
        justify-content: center;
    }

    .menuMobile {
        display: none;
    }

    .logo {
        position: absolute;
        top: 0px;
        left: 10px;
        width: 20vw;
    }

    .logo img {
        width: 100%;
    }

    .usuarioMobile {
        display: none;
    }

    .usuario {
        width: 40%;
        position: absolute;
        top: 70px;
        right: 1px; 
        display: flex;
        justify-content: flex-end; 
    }

    .usuario ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .usuario ul li {
        width: 25%;
        display: inline-block;
        text-align: center;
        margin: 2px;
        padding: 2px;
    }

    .usuario li a {
        text-decoration: none;
        color: black;
    }

    nav {
        width: 100%;
        align-items: center;
    }
    
    /*Barra de busqueda*/
    .form-inline {
        position: absolute;
        top: 230px;
        right: 70px;
    }

    .menu {
        width: 100vw;
        position: absolute;
        top: 125px;
        display: flex;
        justify-content: center;
    }

    .menu li {
        display: inline-block;
        text-align: center;
        margin: 20px;
        padding: 15px;
    }

    .menu li a {
    text-decoration: none;
    color: black;
    }

    .catalogo {
        width: 90%;
    }

    .catalogo article {
        width: 23%;
    }
}

/*@media (max-width: 1024) {
    header {
        margin-bottom: auto;
    }
}*/

@media (max-width: 1132px) {
    .menu {
        display: none !important;
    }
}

/*@media para productCart*/

@media (min-width: 1132px) {

    #PCdescriptionmedia1 {
        position: absolute;
        top: 655px;
        right: 780px;
    }

    #PCdescriptionmedia2 {
        position: absolute;
        top: 1085px;
        right: 780px;
    }

    #PCdescriptionmedia3 {
        position: absolute;
        top: 1515px;
        right: 780px;
    }

    #PCquantitymedia1 {
        position: absolute;
        top: 580px;
        right: 860px;
    }

    #PCquantitymedia2 {
        position: absolute;
        top: 1010px;
        right: 860px;
    }

    #PCquantitymedia3 {
        position: absolute;
        top: 1440px;
        right: 860px;
    }

}

/*@media para productDetail*/
