<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head'); %>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




    <%- include('./partials/header') %>


  <main>
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ORDENAR POR</button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="/product/catalogo">Precio (Mayor a Menor)</a>
        <a class="dropdown-item" href="/product/catalogo">Precio (Menor a Mayor)</a>
        <a class="dropdown-item" href="/product/catalogo">Más vendido</a>
        <a class="dropdown-item" href="/product/catalogo">Agregado recientemente</a>
      </div>
    </div>

    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FILTRAR</button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="/product/catalogo">Vaporizadores</a>
        <a class="dropdown-item" href="/product/catalogo">Atomizadores</a>
        <a class="dropdown-item" href="/product/catalogo">E-Liquids</a>
        <a class="dropdown-item" href="/product/catalogo">Repuestos</a>
      </div>
    </div>

    <section class="catalogo">
      <!--div class="shadow p-3 mb-5 bg-white rounded"-->
        <article>
          <a href="/product"><img src="/images/productDetail3.jpg" class="rounded" alt=""></a>
          <h3>Smoke priv V8</h3>
          <p>$25.500,00</p>
        </article>
      <!--/div-->
      <!--div class="shadow p-3 mb-5 bg-white rounded"-->
        <article>
          <a href="#"><img src="/images/productCart1.jpg" class="rounded" alt=""></a>
          <h3>Target PM 80</h3>
          <p>$10.200,00</p>
        </article>
      <!--/div-->
      <!--div class="shadow p-3 mb-5 bg-white rounded"-->
        <article>
          <a href="#"><img src="/images/productCart2.jpg" class="rounded" alt=""></a>
          <h3>VooPoo PNP</h3>
          <p>$18.300,00</p>
        </article>

        <article>
          <a href=""><img src="/images/productCart3.jpg" class="rounded" alt=""></a>
          <h3>Vaporesso LT</h3>
          <p>$12.300,00</p>
        </article>

        <article>
          <a href=""><img src="/images/resistenvia1.jpg" class="rounded" alt=""></a>
          <h3>Digiflavor Nano Coil</h3>
          <p>$800,00</p>
        </article>

        <article>
          <a href=""><img src="/images/resistencia2.jpg" class="rounded" alt=""></a>
          <h3>IJOY X3 Replacement</h3>
          <p>$1.360,00</p>
        </article>

        <article>
          <a href=""><img src="/images/SMOK-Vape-Pen-Mesh-Coils-Online-in-Pakistan-by-VapeStation1.jpg" class="rounded" alt=""></a>
          <h3>SMOK Vape Pen 22 </h3>
          <p>$1.440,00</p>
        </article>

        <article>
          <a href=""><img src="/images/pimage_59878_1531130193.jpg" class="rounded" alt=""></a>
          <h3>SMOK TFV12</h3>
          <p>$1.280,00</p>
        </article>


    </section>
  </main>


  <%- include('./partials/footer') %>

</body>
</html>