<!DOCTYPE html>
<html lang="en">

  <%- include('./partials/head'); %>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




    <%- include('./partials/header') %>


  <!-- <main>
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ORDENAR POR</button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="/product/catalogo">Precio (Mayor a Menor)</a>
        <a class="dropdown-item" href="/product/catalogo">Precio (Menor a Mayor)</a>
        <a class="dropdown-item" href="/product/catalogo">Más vendido</a>
        <a class="dropdown-item" href="/product/catalogo">Agregado recientemente</a>
      </div>
    </div>

    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FILTRAR</button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="/product/catalogo">Vaporizadores</a>
        <a class="dropdown-item" href="/product/catalogo">Atomizadores</a>
        <a class="dropdown-item" href="/product/catalogo">E-Liquids</a>
        <a class="dropdown-item" href="/product/catalogo">Repuestos</a>
      </div>
    </div>

    <section class="catalogo">
        <article class="catalogoArticle">
          <a href="/product"><img src="/images/productDetail3.jpg" class="rounded" alt="">
          <div class="item_button">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
          </div>
          </a>
          <div class="item_details">
            <h3 class="item_name">Smoke priv V8</h3>
            <p>$25.500,00</p>
          </div>
        </article>

        <article class="catalogoArticle">
          <a href="#"><img src="/images/productCart1.jpg" class="rounded" alt="">
          <div class="item_button">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
          </div>
          </a>
          <div class="item_details">
          <h3 class="item_name">Target PM 80</h3>
          <p>$10.200,00</p>
          </div>
        </article>

        <article class="catalogoArticle">
          <a href="#"><img src="/images/productCart2.jpg" class="rounded" alt="">
          <div class="item_button">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
          </div>
          </a>
          <div class="item_details">
          <h3 class="item_name">VooPoo PNP</h3>
          <p>$18.300,00</p>
          </div>
        </article>

        <article class="catalogoArticle">
          <a href=""><img src="/images/productCart3.jpg" class="rounded" alt="">
          <div class="item_button">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
          </div>
          </a>
          <div class="item_details">
          <h3 class="item_name">Vaporesso LT</h3>
          <p>$12.300,00</p>
          </div>
        </article>

        <article class="catalogoArticle">
          <a href=""><img src="/images/resistenvia1.jpg" class="rounded" alt="">
          <div class="item_button">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
          </div>
          </a>
          <div class="item_details">
          <h3 class="item_name">Digiflavor Nano Coil</h3>
          <p>$800,00</p>
          </div>
        </article>

        <article class="catalogoArticle">
          <a href=""><img src="/images/resistencia2.jpg" class="rounded" alt="">
          <div class="item_button">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
          </div>
          </a>
          <div class="item_details">
          <h3 class="item_name">IJOY X3 Replacement</h3>
          <p>$1.360,00</p>
          </div>
        </article>

        <article class="catalogoArticle">
          <a href=""><img src="/images/SMOK-Vape-Pen-Mesh-Coils-Online-in-Pakistan-by-VapeStation1.jpg" class="rounded" alt="">
          <div class="item_button">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
          </div>
          </a>
          <div class="item_details">
          <h3 class="item_name">SMOK Vape Pen 22 </h3>
          <p>$1.440,00</p>
          </div>
        </article>

        <article class="catalogoArticle">
          <a href=""><img src="/images/pimage_59878_1531130193.jpg" class="rounded" alt="">
          <div class="item_button">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
              </svg>
          </div>
          </a>
          <div class="item_details">
          <h3 class="item_name">SMOK TFV12</h3>
          <p>$1.280,00</p>
          </div>
        </article>   -->
    <!-- </section> -->
  <!-- </main> -->

  <main>
    <div class="catalogueFilters">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ORDENAR POR</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="/product/catalogo">Precio (Mayor a Menor)</a>
          <a class="dropdown-item" href="/product/catalogo">Precio (Menor a Mayor)</a>
          <a class="dropdown-item" href="/product/catalogo">Más vendido</a>
          <a class="dropdown-item" href="/product/catalogo">Agregado recientemente</a>
        </div>
      </div>

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FILTRAR</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="/product/catalogo">Vaporizadores</a>
          <a class="dropdown-item" href="/product/catalogo">Atomizadores</a>
          <a class="dropdown-item" href="/product/catalogo">E-Liquids</a>
          <a class="dropdown-item" href="/product/catalogo">Repuestos</a>
        </div>
      </div>
    </div>
    <section class="catalogo">
        <% products.forEach(product => { %>
              <%- include('./partials/products', { product }) %>
        <% }) %>
    </section>
  </main>


  <%- include('./partials/footer') %>

</body>
</html>