<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <%- include('./partials/header') %>

            <main class="PDmain">

                <div class="PCtitle">
                    <h3>CARRITO</h3>
                </div>

                <section class="cart">                

                    <article class="PCarticle">
                        <div class="PCimg">
                            <img src="/images/productCart1.jpg" alt="Vaporizador">
                        </div>
                        

                        <div class="PCProduct">
                            <div class="PCdescription">
                                <h3>Target PM 80</h3>
                                <h5>$10.200</h5> 
                            </div>
                            <div class="PCSelection">
                                <h5>Color: Gris Plata</h5>
                                <div class="btn-group" role="group" aria-label="Basic example" role="group">
                                    <button type="button" class="btn btn-secondary">-</button>
                                    <button type="button" class="btn btn-secondary">1</button>
                                    <button type="button" class="btn btn-secondary">+</button>
                                </div>
                            </div>
                        </div>

                        <a class="delete" href="#"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg></a>

                    </article>

                    <article class="PCarticle">
                        <div class="PCimg">
                            <img src="/images/productCart2.jpg" alt="Vaporizador">
                        </div>
                        

                        <div class="PCProduct">
                        <div class="PCdescription">
                            <h3>Voo Poo PNP</h3>
                            <h5>$18.200</h5> 
                        </div>
                            <div class="PCSelection">
                                <h5>Color: Gris Plata</h5>
                                <div class="btn-group" role="group" aria-label="Basic example" role="group">
                                    <button type="button" class="btn btn-secondary">-</button>
                                    <button type="button" class="btn btn-secondary">1</button>
                                    <button type="button" class="btn btn-secondary">+</button>
                                </div>
                            </div>
                        </div>

                        <a class="delete" href="#"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg></a>

                    </article>

                    <article class="PCarticle">
                        <div class="PCimg">
                            <img src="/images/productCart3.jpg" alt="Vaporizador">
                        </div>
                        

                        <div class="PCProduct">
                        <div class="PCdescription">
                            <h3>Vaporesso LT</h3>
                            <h5>$12.300</h5> 
                        </div>
                            <div class="PCSelection">
                                <h5>Color: Gris Plata</h5>
                                <div class="btn-group" role="group" aria-label="Basic example" role="group">
                                    <button type="button" class="btn btn-secondary">-</button>
                                    <button type="button" class="btn btn-secondary">1</button>
                                    <button type="button" class="btn btn-secondary">+</button>
                                </div>
                            </div>
                        </div>

                        <a class="delete" href="#"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg></a>

                    </article>
                </section>   

                <section class="PCPurchase">
                    <article class="purchaseArticle">
                        <h4>TOTAL: </h4>
                        <input class="PCproductDetailButton" type="submit" value="COMPRAR">
                    </article>
                </section>

            </main>

            <%- include('./partials/footer') %>
    </body>

</html>