<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        <%- include('./partials/header') %>


            <main class="PDmain">
                <section class="PDLeft">
                    <article class="secondaryPhoto">
                        <img src="/images/productDetail1.jpg" alt="Vaporizador">
                    </article>
                    <article class="secondaryPhoto">
                        <img src="/images/productDetail2.jpg" alt="Vaporizador">
                    </article>
                </section>

                <section class="PDCenter">
                    <article class="primaryPhoto">
                        <img src="/images/productDetail3.jpg" alt="Vaporizador">
                    </article>
                </section>

                <section class="productInfo">
                    <article class="vapeInfo">
                        <h3>SMOKE PRIV V8</h3>
                        <h5>$ 2.500</h5>
                    </article>

                    <article class="vapeSelection">
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                              ELIJA EL COLOR
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">BLACK</a>
                              <a class="dropdown-item" href="#">WHITE</a>
                              <a class="dropdown-item" href="#">BLUE</a>
                            </div>
                          </div>
                          <div class="btn-group" role="group" aria-label="Basic example" role="group">
                            <button type="button" class="btn btn-secondary">-</button>
                            <button type="button" class="btn btn-secondary">1</button>
                            <button type="button" class="btn btn-secondary">+</button>
                          </div><br>
                        <input class="PCproductDetailButton" type="submit" value="AGREGAR AL CARRITO"><br>

                    </article>
                    <article class="vapeDescription">
                        <h4>INFORMACIÓN GENERAL</h4>
                        <p>Con su atractivo diseño y su claromizador TFV8 Smoke Priv V8 te proporcionará horas interminables de vapeo, Dispone de un gran pulsador para vapear y funciona con una batería 18650.<br> Pequeño y potente, la opción perfecta para todos
                        aquellos que quieran empezar a lo grande.<br> No incluye baterias 18560.</p>
                    </article>
                </section>

                <!-- <article class="PDarticle">
                    <img src="/images/productDetail1.jpg" alt="Vaporizador">
                    <img src="/images/productDetail2.jpg" alt="Vaporizador">
                    <img src="/images/productDetail3.jpg" alt="Vaporizador">

                </article>

                <section class="PDsection">

                    <p>Con su atractivo diseño y su claromizador TFV8 Smoke Priv V8 te proporcionará horas interminables de vapeo, Dispone de un gran pulsador para vapear y funciona con una batería 18650.<br> Pequeño y potente, la opción perfecta para todos
                        aquellos que quieran empezar a lo grande.<br> No incluye baterias 18560.
                    </p>

                </section>

                <div class="PDquantity">

                    <input class="PCquantityDecrese" type="button" value="-">
                    <input class="PCquantityNumber" type="text" placeholder="0">
                    <input class="PCquantityIncrease" type="button" value="+">

                </div>

                <div class="PCbuttonPosition">

                    <div class="PCbuttonPrice"> -->
                        <!--<p class="text">TOTAL:</p>-->
                        <!-- <p class="price">$</p>
                    </div>

                    <input class="PCproductDetailButton" type="submit" value="AGREGAR AL CARRITO">
                </div> -->

            </main>

            <%- include('./partials/footer') %>


    </body>

</html>